apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - includeTemplates: true
    includeSelectors: true
    pairs:
      app.kubernetes.io/name: nzbget
transformers:
  - |-
    apiVersion: builtin
    kind: NamespaceTransformer
    metadata:
      name: nzbget
      namespace: nzbget
    unsetOnly: true
    fieldSpecs:
      - path: spec/claimRef/namespace
        kind: PersistentVolume
        name: nzbget-downloads
        create: true
patches:
  - patch: |-
      apiVersion: gateway.networking.k8s.io/v1beta1
      kind: HTTPRoute
      metadata:
        name: nzbget
      spec:
        hostnames:
          - nzbget.${services_hostname_suffix}
resources:
  - config.yaml
  - deployment.yaml
  - namespace.yaml
  - pvc.yaml
  - secret.yaml
  - svc.yaml
  - networkpolicy.yaml
