---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: inter-downloads-and-history
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  volumeMode: Filesystem
  storageClassName: openebs-single-replica
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nzbget-downloads
spec:
  capacity:
    storage: 4Ti
  claimRef:
    apiVersion: v1
    kind: PersistentVolumeClaim
    name: downloads
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: /var/mnt/media/nzbget
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - k8rn-core
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: downloads
spec:
  volumeName: nzbget-downloads
  storageClassName: local-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 4Ti
