apiVersion: v1
kind: Namespace
metadata:
    name: cert-manager
sops:
    age:
        - recipient: age1mc6573986ak84qcs9slsel3rahaw8gjseh5f085gyr6zhz6yuu7qqhluwx
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBwMkJiQ0lOaktiYnlmMURq
            OHgxWE5janhWUGh1cVpFaVhmSWwxbjF0QkJVCnUydGxyeEVjSEhmbXBkNlNCNkN6
            UnNxWW4zY3BTb3BmNEE1dllXUEdRMmMKLS0tIHRnQlFNOUZKNlYvL25zeStySXk5
            OVBxTnQ0Uno2d09YblBxRlcxL2J0blUKI7rJVWIVyJSCDOOmJIfjyl6qkLj2HK1T
            1ibrwjWV24QY3iCdh77SRYR+Gr/ky/sdnroIypjMheU3gEzJENPxDg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-10-27T02:32:55Z"
    mac: ENC[AES256_GCM,data:I6+9NJX/gYsZcblw4Y/0+I+FpxrZeZpdcpV7Rn5gZYR75O1ASRv9Pw4zzpqslHQCA2hKwuNbsmAEFB/qDGLufO78BblEkLMvdF8gCweHzooikpMXwVUDk0c5eCFE2PnmbHypqy6rQWm2U7ixOTy6cxGTDN+5T2eNaYD6BgGs5qs=,iv:RJNImpLo375KfpVDBc097uoqt+iuOgh6cSQz5H5NFvc=,tag:DsYBI1Byj2vB0TLWliMO6Q==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
    name: jetstack
    namespace: cert-manager
spec:
    interval: 10m0s
    url: https://charts.jetstack.io
sops:
    age:
        - recipient: age1mc6573986ak84qcs9slsel3rahaw8gjseh5f085gyr6zhz6yuu7qqhluwx
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBwMkJiQ0lOaktiYnlmMURq
            OHgxWE5janhWUGh1cVpFaVhmSWwxbjF0QkJVCnUydGxyeEVjSEhmbXBkNlNCNkN6
            UnNxWW4zY3BTb3BmNEE1dllXUEdRMmMKLS0tIHRnQlFNOUZKNlYvL25zeStySXk5
            OVBxTnQ0Uno2d09YblBxRlcxL2J0blUKI7rJVWIVyJSCDOOmJIfjyl6qkLj2HK1T
            1ibrwjWV24QY3iCdh77SRYR+Gr/ky/sdnroIypjMheU3gEzJENPxDg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-10-27T02:32:55Z"
    mac: ENC[AES256_GCM,data:I6+9NJX/gYsZcblw4Y/0+I+FpxrZeZpdcpV7Rn5gZYR75O1ASRv9Pw4zzpqslHQCA2hKwuNbsmAEFB/qDGLufO78BblEkLMvdF8gCweHzooikpMXwVUDk0c5eCFE2PnmbHypqy6rQWm2U7ixOTy6cxGTDN+5T2eNaYD6BgGs5qs=,iv:RJNImpLo375KfpVDBc097uoqt+iuOgh6cSQz5H5NFvc=,tag:DsYBI1Byj2vB0TLWliMO6Q==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: cert-manager
    namespace: cert-manager
spec:
    install:
        crds: Skip
    upgrade:
        crds: Skip
    interval: 10m0s
    dependsOn:
        - name: envoy-gateway
          namespace: envoy-gateway-system
    chart:
        spec:
            chart: cert-manager
            sourceRef:
                kind: HelmRepository
                name: jetstack
            version: v1.19.2
    values:
        global:
            hostUsers: true
        installCRDs: true
        config:
            enableGatewayAPI: true
sops:
    age:
        - recipient: age1mc6573986ak84qcs9slsel3rahaw8gjseh5f085gyr6zhz6yuu7qqhluwx
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBwMkJiQ0lOaktiYnlmMURq
            OHgxWE5janhWUGh1cVpFaVhmSWwxbjF0QkJVCnUydGxyeEVjSEhmbXBkNlNCNkN6
            UnNxWW4zY3BTb3BmNEE1dllXUEdRMmMKLS0tIHRnQlFNOUZKNlYvL25zeStySXk5
            OVBxTnQ0Uno2d09YblBxRlcxL2J0blUKI7rJVWIVyJSCDOOmJIfjyl6qkLj2HK1T
            1ibrwjWV24QY3iCdh77SRYR+Gr/ky/sdnroIypjMheU3gEzJENPxDg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-10-27T02:32:55Z"
    mac: ENC[AES256_GCM,data:I6+9NJX/gYsZcblw4Y/0+I+FpxrZeZpdcpV7Rn5gZYR75O1ASRv9Pw4zzpqslHQCA2hKwuNbsmAEFB/qDGLufO78BblEkLMvdF8gCweHzooikpMXwVUDk0c5eCFE2PnmbHypqy6rQWm2U7ixOTy6cxGTDN+5T2eNaYD6BgGs5qs=,iv:RJNImpLo375KfpVDBc097uoqt+iuOgh6cSQz5H5NFvc=,tag:DsYBI1Byj2vB0TLWliMO6Q==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: cloudflare-token
    namespace: cert-manager
stringData:
    token: ENC[AES256_GCM,data:B8foB19U2wec9/F812kQj7JkPpDnEUTlbYkqc6eKl5OJKSKqy5OQFg==,iv:c0trlBIw7HgE+HAKXyObhFH5pfbnSmWrs0DPl54mCS4=,tag:XgmIWtBF+jJsdxZ1iid05Q==,type:str]
sops:
    age:
        - recipient: age1mc6573986ak84qcs9slsel3rahaw8gjseh5f085gyr6zhz6yuu7qqhluwx
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBwMkJiQ0lOaktiYnlmMURq
            OHgxWE5janhWUGh1cVpFaVhmSWwxbjF0QkJVCnUydGxyeEVjSEhmbXBkNlNCNkN6
            UnNxWW4zY3BTb3BmNEE1dllXUEdRMmMKLS0tIHRnQlFNOUZKNlYvL25zeStySXk5
            OVBxTnQ0Uno2d09YblBxRlcxL2J0blUKI7rJVWIVyJSCDOOmJIfjyl6qkLj2HK1T
            1ibrwjWV24QY3iCdh77SRYR+Gr/ky/sdnroIypjMheU3gEzJENPxDg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-10-27T02:32:55Z"
    mac: ENC[AES256_GCM,data:I6+9NJX/gYsZcblw4Y/0+I+FpxrZeZpdcpV7Rn5gZYR75O1ASRv9Pw4zzpqslHQCA2hKwuNbsmAEFB/qDGLufO78BblEkLMvdF8gCweHzooikpMXwVUDk0c5eCFE2PnmbHypqy6rQWm2U7ixOTy6cxGTDN+5T2eNaYD6BgGs5qs=,iv:RJNImpLo375KfpVDBc097uoqt+iuOgh6cSQz5H5NFvc=,tag:DsYBI1Byj2vB0TLWliMO6Q==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
