apiVersion: v1
kind: Namespace
metadata:
    name: external-dns
    labels:
        pod-security.kubernetes.io/enforce: restricted
sops:
    age:
        - recipient: age1mc6573986ak84qcs9slsel3rahaw8gjseh5f085gyr6zhz6yuu7qqhluwx
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBjSUxzblZ6eW9IQmZJYnBO
            VG9CeDd5Y0RvcDJHc3V4RTd5aEdpbUo5aGo4Cmh5RE1GTzJockRtK0s4OXFOSkVh
            S1cyWkZCUDR2WVMyMDVEMTI5SmUwNzgKLS0tIGpreklmZ1ZMYkN2enA5S0FvMXVG
            UTFPSEZVTzVseHhCQ2EwUFppUWVDaEkKImc0+qoBPzDQqAE21AXjwvTMaRalFGrz
            oxC540vkyttoiA/SB4wQe7r3YombgGncaN3cFJuEs9LouMHr0LZaig==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-12T19:48:43Z"
    mac: ENC[AES256_GCM,data:KWjoPbXnASWhtVU2DUdhqKHoHmK8ZG2SlxFLFWeJlkERO6X2cdN+8eg77dQ3W/DQgsDuW8G1uWUSz2ydDay0edDqpDel8R6ZdSslujByuYYY1MLxLciS8lZw19lftZ7GW288px9djbRe10HZjaQvuCO3AclRQ6jmFVysv6AEa3g=,iv:0EyGqQlrOrW63Xpx4D4X8T3ve2WdpO3Gqtt3F03AqYI=,tag:DrrBoYWB/kWAYqy7GJn5Rw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
    name: external-dns
    namespace: external-dns
spec:
    interval: 10m0s
    url: https://kubernetes-sigs.github.io/external-dns
sops:
    age:
        - recipient: age1mc6573986ak84qcs9slsel3rahaw8gjseh5f085gyr6zhz6yuu7qqhluwx
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBjSUxzblZ6eW9IQmZJYnBO
            VG9CeDd5Y0RvcDJHc3V4RTd5aEdpbUo5aGo4Cmh5RE1GTzJockRtK0s4OXFOSkVh
            S1cyWkZCUDR2WVMyMDVEMTI5SmUwNzgKLS0tIGpreklmZ1ZMYkN2enA5S0FvMXVG
            UTFPSEZVTzVseHhCQ2EwUFppUWVDaEkKImc0+qoBPzDQqAE21AXjwvTMaRalFGrz
            oxC540vkyttoiA/SB4wQe7r3YombgGncaN3cFJuEs9LouMHr0LZaig==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-12T19:48:43Z"
    mac: ENC[AES256_GCM,data:KWjoPbXnASWhtVU2DUdhqKHoHmK8ZG2SlxFLFWeJlkERO6X2cdN+8eg77dQ3W/DQgsDuW8G1uWUSz2ydDay0edDqpDel8R6ZdSslujByuYYY1MLxLciS8lZw19lftZ7GW288px9djbRe10HZjaQvuCO3AclRQ6jmFVysv6AEa3g=,iv:0EyGqQlrOrW63Xpx4D4X8T3ve2WdpO3Gqtt3F03AqYI=,tag:DrrBoYWB/kWAYqy7GJn5Rw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: external-dns
    namespace: external-dns
spec:
    install:
        crds: CreateReplace
    upgrade:
        crds: CreateReplace
    interval: 10m0s
    targetNamespace: external-dns
    chart:
        spec:
            chart: external-dns
            sourceRef:
                kind: HelmRepository
                name: external-dns
            version: 1.20.0
    values:
        policy: sync
        txtOwnerId: k8rn
        sources:
            - gateway-httproute
            - gateway-tlsroute
            - gateway-tcproute
            - service
        provider:
            name: cloudflare
        extraArgs:
            label-filter: external-dns==true
            managed-record-types:
                - A
                - AAAA
        env:
            - name: CF_API_TOKEN
              value: file:/cloudflare/token
        secretConfiguration:
            enabled: true
            mountPath: /cloudflare
            data:
                token: ENC[AES256_GCM,data:w4WAIxeQJ/Felpb+plnsjzWmtXxvjD3Ee9t9DogexEix6xMij58Lew==,iv:U0jFxKYfATMkjHIIN+y9p6cWPb2t3dofzn2BTd1709s=,tag:Ix/kZTtEOeVNsJcMQvowJg==,type:str]
sops:
    age:
        - recipient: age1mc6573986ak84qcs9slsel3rahaw8gjseh5f085gyr6zhz6yuu7qqhluwx
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBjSUxzblZ6eW9IQmZJYnBO
            VG9CeDd5Y0RvcDJHc3V4RTd5aEdpbUo5aGo4Cmh5RE1GTzJockRtK0s4OXFOSkVh
            S1cyWkZCUDR2WVMyMDVEMTI5SmUwNzgKLS0tIGpreklmZ1ZMYkN2enA5S0FvMXVG
            UTFPSEZVTzVseHhCQ2EwUFppUWVDaEkKImc0+qoBPzDQqAE21AXjwvTMaRalFGrz
            oxC540vkyttoiA/SB4wQe7r3YombgGncaN3cFJuEs9LouMHr0LZaig==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-12T19:48:43Z"
    mac: ENC[AES256_GCM,data:KWjoPbXnASWhtVU2DUdhqKHoHmK8ZG2SlxFLFWeJlkERO6X2cdN+8eg77dQ3W/DQgsDuW8G1uWUSz2ydDay0edDqpDel8R6ZdSslujByuYYY1MLxLciS8lZw19lftZ7GW288px9djbRe10HZjaQvuCO3AclRQ6jmFVysv6AEa3g=,iv:0EyGqQlrOrW63Xpx4D4X8T3ve2WdpO3Gqtt3F03AqYI=,tag:DrrBoYWB/kWAYqy7GJn5Rw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
