---
apiVersion: v1
kind: Namespace
metadata:
  name: openebs
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
---
apiVersion: talos.dev/v1alpha1
kind: ServiceAccount
metadata:
  name: talos-api-access
  namespace: openebs
spec:
  roles:
    - os:reader
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: openebs
  namespace: openebs
spec:
  interval: 10m0s
  url: https://openebs.github.io/openebs
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
  namespace: openebs
spec:
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  interval: 10m0s
  targetNamespace: openebs
  chart:
    spec:
      chart: openebs
      sourceRef:
        kind: HelmRepository
        name: openebs
      version: 4.4.0
  values:
    alloy:
      enabled: false
    loki:
      enabled: false
    engines:
      local:
        lvm:
          enabled: false
        zfs:
          enabled: true
      replicated:
        mayastor:
          enabled: true
    zfs-localpv:
      zfsNode:
        # See https://github.com/openebs/zfs-localpv/issues/545
        encrKeysDir: /var/openebs/zfs/keys
        additionalVolumes:
          talos-secrets:
            secret:
              secretName: talos-api-access
        initContainers:
          ab-data1-luks-open:
            image: ghcr.io/michaelbeaumont/talos-kms-seals:latest
            securityContext:
              privileged: true
            args:
              - --endpoint
              - "${kms_endpoint}"
              - --slot
              - "2"
              - --device
              - /dev/disk/by-uuid/a6afe516-1d0b-4a54-8e71-5f70ab3f8200
              - --mapped-name
              - data1
              - --only-on-node
              - k8rn-core
              - open
            volumeMounts:
              - mountPath: /dev
                name: device-dir
              - mountPath: /var/run/secrets/talos.dev
                name: talos-secrets
            env:
              - name: NODE_NAME
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName
          ac-data2-luks-open:
            image: ghcr.io/michaelbeaumont/talos-kms-seals:latest
            securityContext:
              privileged: true
            args:
              - --endpoint
              - "${kms_endpoint}"
              - --slot
              - "2"
              - --device
              - /dev/disk/by-uuid/da635a66-94c6-46b2-99bc-0ee46c9c6ef1
              - --mapped-name
              - data2
              - --only-on-node
              - k8rn-core
              - open
            volumeMounts:
              - mountPath: /dev
                name: device-dir
              - mountPath: /var/run/secrets/talos.dev
                name: talos-secrets
            env:
              - name: NODE_NAME
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName
          b-zfs-import-all:
            image: docker.io/michaelbeaumont/zfs-part-utils:latest
            securityContext:
              privileged: true
            command: ["zpool", "import", "-a"]
    mayastor:
      alloy:
        enabled: false
      etcd:
        replicaCount: ${openebs_etcd_replicaCount}
      eventing:
        enabled: false
      io_engine:
        # It's the automatic mode, in the DPDK code IOVA_MODE_DC, that causes issues.
        # Confirmed by EAL debug log output that this really selects VA
        envcontext: "iova-mode=va"
      loki:
        enabled: false
      obs:
        callhome:
          enabled: false
      storageClass:
        # we can't override reclaimPolicy so just make the classes explicit in base-config
        enabled: false
