---
apiVersion: v1
kind: Namespace
metadata:
  name: volsync-system
  labels:
    prometheus.io/scrape: "true"
    pod-security.kubernetes.io/enforce: restricted
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: backube
  namespace: volsync-system
spec:
  interval: 10m0s
  url: https://backube.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
  namespace: volsync-system
spec:
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  interval: 10m0s
  targetNamespace: volsync-system
  chart:
    spec:
      chart: volsync
      sourceRef:
        kind: HelmRepository
        name: backube
      version: 0.14.0
  values:
    metrics:
      disableAuth: true
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: alerts
  namespace: volsync-system
spec:
  groups:
    - name: volsync
      rules:
        - alert: VolsyncFailing
          annotations:
            description: "VolSync backup {{ $labels.obj_namespace }}/{{ $labels.obj_name }} failing"
            summary: "VolSync backup failing"
          expr: |-
            (
              volsync_volume_out_of_sync{role="source"} > 0
            )
          for: 10m
          labels:
            severity: critical
