apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - includeTemplates: true
    includeSelectors: true
    pairs:
      app.kubernetes.io/name: paperless
transformers:
  - |-
    apiVersion: builtin
    kind: NamespaceTransformer
    metadata:
      name: paperless
      namespace: paperless
    unsetOnly: true
    fieldSpecs:
      - path: spec/claimRef/namespace
        kind: PersistentVolume
        name: paperless-docs
        create: true
patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: paperless
      spec:
        template:
          spec:
            containers:
              - name: paperless
                env:
                  - name: PAPERLESS_URL
                    value: https://docs.${services_hostname_suffix}
  - patch: |-
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      metadata:
        name: docs
      spec:
        hostnames:
          - docs.${services_hostname_suffix}
resources:
  - docs-pvc.yaml
  - paperless.yaml
  - pvc.yaml
  - restic-secret.yaml
  - svc.yaml
  - networkpolicy.yaml
  - oidc.yaml
