machine:
  sysctls:
    # note don't just delete this, it creates the `sysctls` key which lets
    # other patches modify it. it has omitempty so `sysctls: {}` doesn't work
    net.ipv4.ip_unprivileged_port_start: "0"
  certSANs:
    - ${dns_loadbalancer_hostname}
    - ${hostname}
    - ${tailscale_fqdn}
  install:
    diskSelector:
      ${disk_selector}
    image: ${image_uri}
  kubelet:
    nodeIP:
      validSubnets:
        - fd7a:115c:a1e0::/64
        - 100.64.0.0/10
  time:
    servers:
      - time.cloudflare.com
cluster:
  controlPlane:
    endpoint: https://${dns_loadbalancer_hostname}:6443
    localAPIServerPort: 6443
  discovery:
    enabled: false
  network:
    podSubnets:
%{ for subnet in pod_subnets }
      - "${subnet}"
%{ endfor }
    serviceSubnets:
%{ for subnet in service_subnets }
      - "${subnet}"
%{ endfor }
    cni:
      name: none
  proxy:
    disabled: true # use cilium
