---
apiVersion: v1
kind: Namespace
metadata:
  name: jellyfin
  labels:
    gateway.infra.services/allow-routes: "true"
    pod-security.kubernetes.io/enforce: restricted
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jellyfin-media
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 1Gi
  claimRef:
    name: media
  csi:
    driver: zfs.csi.openebs.io
    fsType: zfs
    volumeAttributes:
      openebs.io/poolname: data
    volumeHandle: media
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - k8rn-core
  persistentVolumeReclaimPolicy: Retain
  storageClassName: openebs-zfs-data
  volumeMode: Filesystem
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media
spec:
  volumeName: jellyfin-media
  storageClassName: openebs-zfs-data
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      automountServiceAccountToken: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
        runAsNonRoot: true
      containers:
        - env:
            #- name: JELLYFIN_PublishedServerUrl # DLNA
            #  value: xxx.xxx.xxx.xxx
            - name: TZ
              value: Europe/Berlin
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]
          # Note: this image in particular has the OpenCL runtime
          image: jellyfin/jellyfin:10.11.5
          imagePullPolicy: Always
          name: jellyfin
          ports:
            - containerPort: 8096
              name: http
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 3
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 3
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 3
          resources:
            limits:
              gpu.intel.com/i915: 1
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /media
              name: media
              readOnly: true
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: config
        - name: media
          readOnly: true
          persistentVolumeClaim:
            claimName: media
---
kind: Service
apiVersion: v1
metadata:
  name: jellyfin
spec:
  ports:
    - port: 80
      targetPort: http
      name: http
      appProtocol: http
      protocol: TCP
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: media
  labels:
    external-dns: "true"
spec:
  parentRefs:
    - name: services
      namespace: infra
      sectionName: main
  hostnames: []
  rules:
    - backendRefs:
        - group: ""
          kind: Service
          name: jellyfin
          port: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: media-local
  labels:
    external-dns: "true"
spec:
  parentRefs:
    - name: local-services
      namespace: infra
      sectionName: main
  hostnames: []
  rules:
    - backendRefs:
        - group: ""
          kind: Service
          name: jellyfin
          port: 80
