apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - includeTemplates: true
    includeSelectors: true
    pairs:
      app.kubernetes.io/name: jellyfin
transformers:
  - |-
    apiVersion: builtin
    kind: NamespaceTransformer
    metadata:
      name: jellyfin
      namespace: jellyfin
    unsetOnly: true
    fieldSpecs:
      - path: spec/claimRef/namespace
        kind: PersistentVolume
        name: jellyfin-media
        create: true
patches:
  - patch: |-
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      metadata:
        name: media
      spec:
        hostnames:
          - media.${services_hostname_suffix}
  - patch: |-
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      metadata:
        name: media-local
      spec:
        hostnames:
          - media.local.${services_hostname_suffix}
resources:
  - jellyfin.yaml
  - pvc-config.yaml
  - media.yaml
  - restic-secret.yaml
  - networkpolicy.yaml
