# CPNG will treat this as an orphan PVC due to the labels and use it to restore
# the cluster
# Note: This does NOT work at initial init but that's much less
# important than it working with the existing backups and cluster recreation.
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-database-1
  labels:
    cnpg.io/cluster: immich-database
    cnpg.io/instanceName: immich-database-1
    cnpg.io/instanceRole: primary
    cnpg.io/pvcRole: PG_DATA
  annotations:
    cnpg.io/nodeSerial: "1"
spec:
  storageClassName: openebs-single-replica
  accessModes:
    - ReadWriteOnce
  dataSourceRef:
    kind: ReplicationDestination
    apiGroup: volsync.backube
    name: database-restore
  resources:
    requests:
      storage: 5Gi
  volumeMode: Filesystem
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-database
spec:
  instances: 1
  managed:
    services:
      disabledDefaultServices: ["ro", "r"]
  storage:
    pvcTemplate:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 5Gi
      storageClassName: openebs-single-replica
      volumeMode: Filesystem
  imageName: ghcr.io/cloudnative-pg/postgresql:18.1-standard-trixie
  postgresql:
    extensions:
      - name: vchord
        image:
          reference: ghcr.io/tensorchord/vchord-scratch:pg18-v1.0.0
        dynamic_library_path:
          - /usr/lib/postgresql/18/lib/
        extension_control_path:
          - /usr/share/postgresql/18/
    shared_preload_libraries:
      - "vchord.so"
  bootstrap:
    initdb:
      owner: immich
      database: app
      secret:
        name: immich-database-app
      postInitSQL:
        - ALTER USER immich WITH SUPERUSER;
  # corresponds to shutdownGracePeriod
  smartShutdownTimeout: 10
  stopDelay: 10
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: database-restore
spec:
  trigger:
    manual: restore-once
  restic:
    moverSecurityContext:
      runAsUser: 26
      runAsGroup: 26
      fsGroup: 26
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
    repository: restic-config-database
    capacity: 5Gi
    accessModes:
      - ReadWriteOnce
    copyMethod: Snapshot
    storageClassName: openebs-single-replica-delete
    cacheStorageClassName: openebs-single-replica-delete
    volumeSnapshotClassName: openebs-delete
    cleanupCachePVC: true
    cleanupTempPVC: true
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: database-backup
spec:
  sourcePVC: immich-database-1
  trigger:
    schedule: "0 */1 * * *"
  restic:
    pruneIntervalDays: 14
    moverSecurityContext:
      runAsUser: 26
      runAsGroup: 26
      fsGroup: 26
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
    repository: restic-config-database
    retain:
      hourly: 6
      daily: 5
      weekly: 4
      monthly: 2
      yearly: 1
    copyMethod: Snapshot # Clone would be the best
    storageClassName: openebs-single-replica-delete
    cacheStorageClassName: openebs-single-replica-delete
    volumeSnapshotClassName: openebs-delete
