---
apiVersion: resource.k8s.io/v1
kind: ResourceClaimTemplate
metadata:
  name: intel-gpu
spec:
  spec:
    devices:
      requests:
        - name: gpu
          exactly:
            deviceClassName: gpu.intel.com
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: immich
spec:
  interval: 10m0s
  type: oci
  url: oci://ghcr.io/immich-app/immich-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  interval: 10m0s
  targetNamespace: immich
  chart:
    spec:
      chart: immich
      sourceRef:
        kind: HelmRepository
        name: immich
      version: 0.10.3
  values:
    server:
      defaultPodOptions:
        automountServiceAccountToken: false
        hostUsers: false
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          runAsNonRoot: true
          fsGroup: 1000
          fsGroupChangePolicy: OnRootMismatch
          seccompProfile:
            type: RuntimeDefault
      controllers:
        main:
          strategy: Recreate
          defaultContainerOptions:
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: [ALL]
          containers:
            main:
              image:
                tag: "v2.5.2"
              env:
                IMMICH_ALLOW_SETUP:
                  value: "false"
                # total madness to enable IPv6 functionality for redis
                # https://github.com/immich-app/immich/issues/10397
                # echo '{"host": "immich-immich-valkey","family": 6}' | base64
                REDIS_URL:
                  value: "ioredis://ewogICJob3N0IjogImltbWljaC1pbW1pY2gtdmFsa2V5IiwKICAiZmFtaWx5IjogNgp9Cg=="
                DB_HOSTNAME:
                  value: immich-database-rw
                DB_USERNAME:
                  valueFrom:
                    secretKeyRef:
                      name: immich-database-app
                      key: username
                DB_PASSWORD:
                  valueFrom:
                    secretKeyRef:
                      name: immich-database-app
                      key: password
                DB_DATABASE_NAME:
                  value: app
      route:
        main:
          labels:
            external-dns: "true"
          parentRefs:
            - name: services
              namespace: infra
              sectionName: main
          rules:
            - backendRefs:
                - group: ""
                  kind: Service
                  name: immich-immich-server
                  port: 2283
    valkey:
      enabled: true
      defaultPodOptions:
        automountServiceAccountToken: false
        hostUsers: false
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
      controllers:
        main:
          defaultContainerOptions:
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: [ALL]
    immich:
      persistence:
        library:
          existingClaim: photos
      metrics:
        enabled: true
    machine-learning:
      enabled: true
      defaultPodOptions:
        automountServiceAccountToken: false
        hostUsers: false
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          runAsNonRoot: true
          fsGroup: 1000
          fsGroupChangePolicy: OnRootMismatch
          seccompProfile:
            type: RuntimeDefault
        resourceClaims:
          - name: gpu
            resourceClaimTemplateName: intel-gpu
      controllers:
        main:
          containers:
            main:
              image:
                tag: v2.5.2-openvino
              resources:
                claims:
                  - name: gpu
          strategy: Recreate
          defaultContainerOptions:
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: [ALL]
      persistence:
        cache:
          type: persistentVolumeClaim
          accessMode: ReadWriteOnce
          storageClass: openebs-single-replica-delete
