---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - includeTemplates: true
    includeSelectors: true
    pairs:
      app.kubernetes.io/name: immich
transformers:
  - |-
    apiVersion: builtin
    kind: NamespaceTransformer
    metadata:
      name: immich
      namespace: immich
    unsetOnly: true
    fieldSpecs:
      - path: spec/claimRef/namespace
        kind: PersistentVolume
        name: immich-photos
        create: true
patches:
  - patch: |-
      apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: immich
      spec:
        values:
          server:
            route:
              main:
                hostnames:
                  - photos.${services_hostname_suffix}
resources:
  - database.yaml
  - database-secret.yaml
  - photos.yaml
  - immich.yaml
  - restic.yaml
