machine:
  sysctls:
    # note don't just delete this, it creates the `sysctls` key which lets
    # other patches modify it. it has omitempty so `sysctls: {}` doesn't work
    net.ipv4.ip_unprivileged_port_start: "0"
  certSANs:
    - ${dns_loadbalancer_hostname}
    - ${hostname}
  install:
    disk: ${install_disk}
    image: ${installer_uri}
  network:
    hostname: ${hostname}
    nameservers:
      - 8.8.8.8
      - 1.1.1.1
  kubelet:
    nodeIP:
      validSubnets:
        - fd7a:115c:a1e0::/64
        - 100.64.0.0/10
cluster:
  controlPlane:
    endpoint: https://${dns_loadbalancer_hostname}:6443
    localAPIServerPort: 6443
  apiServer: {} # placeholder for JSON patch
  discovery:
    enabled: false
  etcd:
    advertisedSubnets:
      - 100.64.0.0/10
      - fd7a:115c:a1e0::/64
  network:
    cni:
      name: none
  inlineManifests:
    - name: cilium
      contents: |
        %{for manifest in manifests}
        ${indent(8, manifest)}
        %{endfor}
