apiVersion: v1alpha1
kind: NetworkDefaultActionConfig
ingress: block
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: kubelet-ingress
portSelector:
  ports:
    - 10250
  protocol: tcp
ingress:
%{ for ip in node_ips }
  - subnet: "${ip}/32"
%{ endfor }
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: apid-ingress
portSelector:
  ports:
    - 50000
  protocol: tcp
ingress:
%{ for ip in node_ips }
  - subnet: "${ip}/32"
%{ endfor }
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: cni-vxlan
portSelector:
  ports:
    - ${vxlan_port}
  protocol: udp
ingress:
%{ for ip in node_ips }
  - subnet: "${ip}/32"
%{ endfor }
